<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% include ./navbar.ejs %>
    <h1 class="center"> Local Sign up and sign in trial</h1> 
</body>
</html>