<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <div>
    <nav>
        <ul class="nav-wrapper black">
            <% if (login){ %>
                <li class="brand-logo center">  <a href="/">Home page</a></li> 
                <li class="right"><a href="/user/logout">logout </a></li>
                <li class="right"><a href="/user/profile">profile</a></li>
            <% } else { %> 
            
            <li class="brand-logo center">  <a href="/">Home page</a></li> 
           <li class="right"><a href="/user/signup">SignUp</a></li>
           <li class="right"><a href="/user/signin">Sign in </a></li>
           <% } %>
        </ul>

    </nav>
   <div>
</body>
</html>